* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;

  /* overflow: auto; */
}

body {
  background-color: #f5f5f5;
  display: grid;
  grid-template-rows: 56px 2fr 1fr;
}

.header {
  width: 100%;
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  background-color: white;
  /* position: relative; */
}

nav {
  display: flex;

  align-items: center;
  float: right;
}

.logo {
  display: inline-flex;
  width: 70px;
  margin-top: 20px;
  cursor: pointer;
  margin-right: 10px;

  align-self: center;
  align-items: center;
  vertical-align: middle;
  object-fit: contain;
  outline: 0;
}

.logo:hover {
  transform: scale(1.1);
  transition: all 0.3s ease 0s;
}
nav li {
  display: inline-block;
  list-style: none;
  padding: 0px 20px;
}
a,
button {
  text-decoration: none;
  text-align: center;
  font-weight: 500;
  font-size: 15px;
  cursor: pointer;
  white-space: nowrap;
}
nav li a {
  color: #0c0c0cab;
}
nav li a:hover {
  color: rgb(9, 9, 9);
}

button {
  background-color: rgb(255, 255, 255);
  padding: 9px 20px;
  border: blue 1px solid;
  border-radius: 6px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  float: right;
  color: rgb(157, 0, 255);
}
button a {
  color: blue;
}

/* starting from today */
.container {
  width: 1260px;
  height: 56px;
  background: #fff;
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: last baseline;
  float: inline-start;
  margin-bottom: 20px;
}
.search-bar {
  width: 35%;
  height: auto;
  size: 60%;
  max-width: 700px;
  /* background: #fff; */
  display: flex;
  align-items: center;
  justify-content: right;
  margin-top: 20px;

  border-radius: 60px;
  padding: 2px;
  border-color: #333;
}

.search-bar input {
  border-radius: 8px;
  border: 1px solid #39393958;
  outline: none;
  background-color: white;
  width: 10px;
  padding: 15px;
  font-size: 18px;
  color: #333;
  flex: 1;
}

::placeholder {
  color: #333;
}

.search-bar button img {
  width: 25px;
}
.search-bar button {
  border: 0;
  border-radius: 0px 4px 4px 0px;
  background-color: black;
  width: 48px;
  height: 53px;
  position: absolute;
  cursor: pointer;
}

/* styling section */

.sect {
  width: 100%;
  height: 100%;
  margin-top: 10px;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 3fr 2fr;
}

.one {
  width: 100%;

  padding: 20px;

  margin-top: 4px;
}

.one ul li {
  width: 100%;
  height: 100%;
  padding: 20px;
  list-style: none;
  line-height: 30px;
}

.one ul li img {
  width: 100px;
  height: 100px;
  line-height: 20px;
  border-radius: 50%;
  margin-right: 20px;
}

.two {
  width: 100%;
  height: 100%;
  padding: 20px;
  display: grid;
  grid-template-rows: repeat(35% 3fr 2fr);
  row-gap: 20px;
  margin-bottom: 10px;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 30px;
}

.blue_image {
  width: 100%;
  background-image: url("https://res.cloudinary.com/practicaldev/image/fetch/s--a6w3mWYK--/c_imagga_scale,f_auto,fl_progressive,h_420,q_auto,w_1000/https://dev-to-uploads.s3.amazonaws.com/uploads/articles/wpt80izd6kdsfzrl9njh.png");
  background-size: cover;
  background-position: center;
  height: 40vh;
  border-radius: 5px;
}
.icon {
  text-align: top;
  font-size: 20px;
  font-weight: lighter;
}
.icon img {
  width: 56px;
  border-radius: 56px;
}
.two-first_container {
  height: 100%;
  background-color: #fff;
}

.content {
  font-weight: bold;
}
