* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header {
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  background-image: linear-gradient(#00bbccbf, rgba(16, 45, 100, 0.814));
}
nav {
  float: right;
}

.logo {
  width: 150px;

  cursor: pointer;
}
.logo img {
  width: 50%;
  height: 30%;
}
.logo img:hover {
  transform: scale(1.1);
  transition: all 0.3s ease 0s;
}
nav li {
  display: inline-block;
  list-style: none;
  padding: 0px 20px;
}

a,
button {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 18px;
  cursor: pointer;
  
}

button {
  background-color: rgba(0, 0, 0, 0.649);
  padding: 9px 25px;
  border: none;
  border-radius: 12px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  float: right;
}

nav li a:hover {
  color: rgb(9, 9, 9);

  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: rgb(255, 255, 255);
  transform: scale(1.1);
  color: black;
  transition: all 0.3s ease 0s;
}
